# directories and its content
__pycache__/
trials/

# files
*.json
test_parameters_create
main_delete.py
main_place_amenities.py
temp_config

# executables
*.sh
0-transfer_file

# do not ignore
!0-setup_web_static.sh
