# directories and its content
__pycache__/
trials/

# files
*.json
test_parameters_create
main_delete.py
main_place_amenities.py
temp_config
main.py
*dump.sql
create_user.sql
manual_places.sql
100-hbnb.sql
*index.html

# executables
*.sh
0-transfer_file

# do not ignore
!0-setup_web_static.sh
